{% assign page_author = include.author %}

{% if page_author == nil %}
  {% assign page_author = site.author %}
{% endif %}

{% assign author = site.data.authors[page_author] %}

{% unless include.except_name %}
<a rel="author" itemprop="author" onclick="_gaq.push(['_trackEvent', 'post_author', 'Post View', '{{ page.author }}'])"  href="/authors/{{ page_author }}/">{{ author.name }}</a>
  |
{% endunless %}
<a href="{{ site.data.resources.github }}{{ author.github }}" target="_blank">{{ author.github }}</a>
|
<a href="{{ site.data.resources.twitter }}{{ author.twitter }}" target="_blank">@{{ author.twitter }}</a>
