header {
  text-align: center;
  margin: 4rem 0 0;
}

.post-title {
  font-size: 3.2rem;
}

body {
  font-family: $default-font;
  font-size: 20px;  
}

h1 {
  font-family: $header-font;
  font-weight: bold;
}