/* Code snippets
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$code-background: #f5f2f0;
$code-border: 0;
$code-border-radius: 0; 


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary-text-font: 'GothamBook', sans-serif; 
$primary-bold-font: 'GothamBold', sans-serif; 

$header-font: $primary-bold-font;
$default-font: $primary-text-font;