---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<header>
  <h1>{{ author.name }}</h1>
  <div>{% include avatar.html author=author size=100 %}</div>
  {% include author.html author=page.author except_name=true %}
</header>

{{ author.about }}

<h2>Posts by {{ author.name }}</h2>

<ul>
  {% for post in site.posts do %}
    {% if post.author == page.author %}
      <li>
        {{ post.date | date: "%a, %b %d, %y" }}
        -
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.lang != null %}
          - {{ post.lang | language_name }}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>