---
layout: default
---
<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <p class="post-meta">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          • {{post.author}}
          
        </p>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <p class="post-summary">
            Today we are going to kick off the first installment in a new series of tutorials, Learning React, that will focus on becoming proficient and effective with Facebook’s React library. Before we start building anything meaningful, its important that we cover some base concepts first, so lets get this party started.
          </p>
        </a>
    </li>
    {% endfor %}
</ul>
