---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/BlogPosting">
      {% include header.html %}
      <header class="page-header">
        <div class="container">
          <h1 itemprop="headline">{{ page.title }}</h1>
          {% include translations.html item=page %}
          <p class="post-meta">
          <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.meta %} • {{ page.meta }}{% endif %}
          </p>
          <p>{% include author/links.html author=page.author %}</p>
        </div>
      </header>

      <main class="container">
        <section class="post">
          <span class="hidden" itemprop="publisher">CodeHeaven</span>
          <span class="hidden" itemprop="keywords">{{ page.keywords }}</span>
          <article class="post-content" itemprop="articleBody">
            {{ content }}
          </article>

          <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'codeheaven-io';
                var disqus_identifier = "{{ page.url }}";

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </section>

      </main>
    </div>
  </body>
</html>
