---
layout: default
---

<header class="page-header">
  <h1>Talks</h1>
</header>

<ul>
  {% for talk in site.data.talks.list %}
    <li>
      {{ talk.name }}
      <span>
        -
        {% for media in talk.media %}
          <a class="talk-media-link" href="{{media.link}}">
            <img src="/assets/images/flags/{{media.flag}}" width="17" height="13">
            {{ media.description }}
          </a>
        {% endfor %}

      </span>
      <ul>
        <li><strong>Where?</strong> {{ talk.location }}</li>
        <li><strong>When?</strong> {{ talk.date }}</li>
        <li class="talk-author-name">
          <strong>Who?</strong>
          {% for authorName in talk.authors %}
            {% assign author = site.data.authors[authorName] %}
            <span>{{ author.name }}</span>
          {% endfor %}
        </li>
      </ul>
    </li>
  {% endfor %}
</ul>
